footer.flex {
  justify-content: space-between;
  padding-bottom: 1.9rem;
}

footer.flex ul {
  gap: 1rem;
}

footer.flex ul a {
  color: var(--subtitle);
  font-size: 0.9rem;
  transition: 0.3s;
  font-weight: 400;
}

footer.flex ul a:hover {
  color: var(--blue);
  font-size: 1rem;
  font-weight: 500;
}

footer.flex p {
  color: var(--subtitle);
  opacity: 0.7;
}

/*=================================
 ?. Responsive Design (media query)
===================================*/

@media (max-width: 800px) {
  footer.flex {
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;
  }
}
