/* =============================
 table of contents
================================
1. Left Section
2. Right Section ==> animation  
*/

section.hero {
  margin-top: 3rem;
}

/*==============================
    1. Left Section
================================*/
section.hero .left-section {
  flex-grow: 1;
}

section.hero .parent-avatar.flex {
  align-items: end;
  gap: 0.6rem;
  min-height: 88px;
}
section.hero .icon-verified {
  color: var(--blue);
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

section.hero .avatar {
  width: 88px;
  border-radius: 50%;
  border: 1px solid orange;
  padding: 1px;
  box-shadow: 2px 2px 40px #cbc8c895 inset;
}

.light section.hero .avatar {
  box-shadow: 2px 2px 40px rgb(97, 96, 96) inset;
}

section.hero h1.title {
  font-size: 2.85rem;
  line-height: 3.3rem;
  margin: 24px 0;
  color: var(--title);
}

section.hero p.sub-title {
  color: var(--subtitle);
  font-size: 0.9rem;
  line-height: 1.65rem;
  margin-bottom: 32px;
}

section.hero .all-icons {
  font-size: 1.3rem;
  gap: 1.5rem;
  color: var(--subtitle);
}

section.hero .all-icons .icon:hover {
  font-size: 1.4rem;
  transition: 0.3s;
  cursor: pointer;
  color: var(--icon-hover);
}

section.hero .download-button {
  padding: 0.75rem 0.8rem;
  border-radius: 4px;
  background-color: #24252e;
  text-align: center;
  font-size: 0.8rem;
  transition: 0.2s;
  border: 1px solid #3f3f46;
  color: #858585;
}

section.hero .download-button:active {
  scale: 0.7;
}

section.hero .download-button:hover {  
  border: 1px solid #2dd4bf;
  font-weight: bold;
  color: white;
}

.light section.hero .download-button {
  border: 1px solid #858585;
  color: #858585;
}

.light section.hero .download-button:hover {
  border: 1px solid #4e5050;
  color: white;
}

/*==================================
    2. Right Section ==> animation
====================================*/

section.hero .animation {
  width: 100%;
  translate: 100px 55px;
}

@media (max-width: 1250px) {
  section.hero .animation {
    display: none;
  }
}
